@media screen and (min-width: 768px) {
  body {
    display: flex;
  }
  .user-header {
    width: 50%;
  }
  .tweet-container {
    width: 100%;
  }
  .container {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 120px;
  }
  form {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: block;
  }
}